<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Página inicial</title>
    <link rel = "stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap" rel="stylesheet">


</head>
<body>
    <p>Estão abertas as inscrições para o ProgramEM</p>
    <div class="botao">
    <a href="/Publicacao"><button type="button" class="botao_style" >Inscrição</button></a>
    </div>
</body>
</html>